<ion-header mode="ios">
  <div class="header">
    <!--ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Supplier Partner</p>
    <img src="/assets/icon/group_2.svg" alt=""-->
    <ion-row class="ancho_full">
      <ion-col size="2" class="col_header" (click)="back()">
        <ion-back-button mode="ios" text=""></ion-back-button>
      </ion-col>
      <ion-col size="8" class="col_header">
        <p class="h5">Supplier Partner</p>
      </ion-col>
      <ion-col size="2" class="col_header">
        <img src="/assets/icon/group_2.svg" style="width: 45px;" alt="">
      </ion-col>
    </ion-row>
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content>

  <div class="appointments">
    <ion-row>
      <ion-col size="12" class="flex_title padding">
        <span class="title_general_black">Services</span>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>

      <ion-col size="5">
        <div class="avatares">
          <div class="content">
            <img src="{{_services.url_images}}{{data.photo}}" fallimg="avatar" class="img">
          </div>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label stacked>Status</ion-label>
          <ion-select mode="ios" interface="action-sheet" [(ngModel)]="data.status">
            <ion-select-option *ngFor="let item of ca_status" [value]="item.id">
              {{item.status}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <p class="h8">Service Line</p>
        <ion-item lines="none">
          <ion-label>Relocation</ion-label>
          <ion-checkbox [(ngModel)]="data.relocation"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <p class="h8">&nbsp;</p>
        <ion-item lines="none">
          <ion-label>Immigration</ion-label>
          <ion-checkbox [(ngModel)]="data.immigration"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label stacked>Supplier Type</ion-label>
          <ion-select mode="ios" interface="action-sheet" [(ngModel)]="data.supplierType">
            <ion-select-option *ngFor="let item of ca_supplierType" [value]="item.id">
              {{item.supplierType}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Commercial Name</ion-label>
          <ion-input type="text" [(ngModel)]="data.comercialName"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Legal Name</ion-label>
          <ion-input type="text" [(ngModel)]="data.legalName"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <p class="h8">Luxury / VIP</p>
        <ion-checkbox [(ngModel)]="data.luxuryVip"></ion-checkbox>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Supplier Since</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" mode="ios" [(ngModel)]="data.supplierSince"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">About</ion-label>
          <ion-textarea mode="ios" [(ngModel)]="data.about"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title (keydown.Space)="$event.stopImmediatePropagation();">
          <ion-row>
            <ion-col size="12">
              <br>
              <p class="title_general_black ancho"> Pricing Info </p>
            </ion-col>
          </ion-row>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="documents">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Amount Per Hour</ion-label>
              <ion-input [(ngModel)]="data.amountPerHour" type="number"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label stacked>Currency</ion-label>
              <ion-select mode="ios" interface="action-sheet" [(ngModel)]="data.currency">
                <ion-select-option *ngFor="let item of ca_currency" [value]="item.id">
                  {{item.currency}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Taxes Name</ion-label>
              <ion-input type="text" [(ngModel)]="data.taxeName"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label stacked>Percentage</ion-label>
              <ion-select mode="ios" interface="action-sheet" [(ngModel)]="data.taxesPercentage">
                <ion-select-option *ngFor="let item of ca_taxes" [value]="item.id">
                  {{item.taxe}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngFor="let element of data.areasCoverageServices; let i = index">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title (keydown.Space)="$event.stopImmediatePropagation();">
          <ion-row>
            <ion-col size="12">
              <br>
              <p class="title_general_black ancho"> Area of Coverage </p>
            </ion-col>
          </ion-row>
          <br>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="documents">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label stacked>Type</ion-label>
              <ion-select mode="ios" interface="action-sheet" [(ngModel)]="element.type">
                <ion-select-option *ngFor="let cat of ca_areacoverage" [value]="cat.id">
                  {{cat.type}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label stacked>Country</ion-label>
              <ion-select mode="ios" interface="action-sheet" [(ngModel)]="element.country">
                <ion-select-option *ngFor="let item of ca_country" [value]="item.id">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label stacked>City</ion-label>
              <ion-select mode="ios" interface="action-sheet" [(ngModel)]="element.country">
                <ion-select-option *ngFor="let item of ca_city[i]" [value]="item.id">
                  {{item.city}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label stacked>Additional Cities</ion-label>
              <ion-select mode="ios" multiple="true" interface="action-sheet" [(ngModel)]="element.additional">
                <ion-select-option *ngFor="let item of ca_city[i]" [value]="item.id">
                  {{item.city}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Current Address</ion-label>
              <ion-input type="text" [(ngModel)]="element.currentAddress"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Zip Code</ion-label>
              <ion-input type="text" [(ngModel)]="element.zipCode"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <br>

        <ion-row>
          <ion-col size="6">
            <p class="subtitle_general_black ancho"> Administrative Contact </p>
          </ion-col>
        </ion-row>

        <ion-card matRipple matRippleColor="rgba(158, 53, 149, 0.5)"
          *ngFor="let datos of element.administrativeContactsServices; let k = index" style="margin: 0 0 10px 0">
          <ion-row style="width: 100%;">
            <ion-col size="6">
              <span class="h15 gray">Name <span class="h12">{{(datos.contactName.length>13) ?  (datos.contactName | slice:0:13)+'..': datos.contactName}}</span><br></span>
              <span class="h15 gray">Title <span class="h12">{{(datos.title.length>13) ?  (datos.title | slice:0:13)+'..': datos.title}}</span><br></span>
            </ion-col>
            <ion-col size="6">
              <span class="h15 gray">Phone Number <span class="h12">{{datos.phoneNumber}}</span><br></span>
              <span class="h15 gray">Email <span class="h12">{{(datos.email.length>13) ?  (datos.email | slice:0:13)+'..': datos.email}}</span></span><br>
            </ion-col>
          </ion-row>
        </ion-card>

        <br>

        <ion-row>
          <ion-col size="6">
            <p class="subtitle_general_black ancho"> Consultant Contacts </p>
          </ion-col>
        </ion-row>

        <ion-card matRipple matRippleColor="rgba(158, 53, 149, 0.5)"
          *ngFor="let datos of element.consultantContactsServices; let k = index" style="margin: 0 0 10px 0">
          <ion-row style="width: 100%;">
            <ion-col size="6">
              <span class="h15 gray">Name <span class="h12">{{(datos.contactName.length>13) ?  (datos.contactName | slice:0:13)+'..': datos.contactName}}</span><br></span>
              <span class="h15 gray">Title <span class="h12">{{datos.title}}</span><br></span>
            </ion-col>
            <ion-col size="6">
              <span class="h15 gray">Phone Number <span class="h12">{{datos.phoneNumber}}</span><br></span>
              <span class="h15 gray">Email <span class="h12">{{(datos.email.length>13) ?  (datos.email | slice:0:13)+'..': datos.email}}</span></span><br>
            </ion-col>
          </ion-row>
        </ion-card>

        <br>

        <ion-row>
          <ion-col size="6">
            <p class="subtitle_general_black ancho"> Payment Information </p>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="12">
            <div class="textarea">
              <span>
                <p class="subtitle" style="font-size: 12px;">
                  Payment Methods
                </p>
              </span>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-checkbox class="example-margin" [(ngModel)]="element.paymentInformationServices[0].creditCard">
              </ion-checkbox>
              <span class="subtitle" style="font-size: 12px;">Credit Card</span>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines='none'>
              <ion-checkbox class="example-margin" [(ngModel)]="element.paymentInformationServices[0].fiscalInvoice">
              </ion-checkbox>
              <span class="subtitle" style="font-size: 12px;">
                Fiscal Invoice
              </span>
            </ion-item>
          </ion-col>

          <ion-col size="6" *ngFor="let datacart of ca_creditCard; let j = index">
            <ion-item lines='none'>
              <ion-checkbox class="example-margin" (ionChange)="pushData(datacart, i, $event, j)"
                [checked]="datacart.checked">
              </ion-checkbox>
              <span class="subtitle" style="font-size: 12px;">{{datacart.creditCard}}</span>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <div class="textarea">
              <p class="page__section-name">Wire Transfer</p>
              <ion-toggle [(ngModel)]="wireTransferSwitch"  mode='ios'
                [checked]="element.paymentInformationServices[0].wireTransferServices.length > 0">
              </ion-toggle>
            </div>
          </ion-col>
          <br>
        </ion-row>
        <br>
        <!------------------------------------------------------------->
        <!--TABLE WIRE TRANSFER-->
        <ion-card matRipple matRippleColor="rgba(158, 53, 149, 0.5)"
          *ngFor="let wire of element.paymentInformationServices[0].wireTransferServices; let k = index"
          style="margin: 0 0 10px 0">
          <ion-row style="width: 100%;">
            <ion-col size="6">
              <span class="h15 gray">Account Type <span class="h12">{{nameAccount(wire.accountType)}}</span><br></span>
              <span class="h15 gray">Account Holders Name <span
                  class="h12">{{wire.accountHoldersName}}</span><br></span>
            </ion-col>
            <ion-col size="6">
              <span class="h15 gray">Bank Name <span class="h12">{{wire.bankName}}</span><br></span>
            </ion-col>
          </ion-row>
        </ion-card>
        <br>
        <!------------------------------------------------------------->
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-checkbox class="example-margin" [(ngModel)]="element.paymentInformationServices[0].checks">
              </ion-checkbox>
              <span class="subtitle" style="font-size: 12px;">Checks</span>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-checkbox class="example-margin" [(ngModel)]="element.paymentInformationServices[0].cash">
              </ion-checkbox>
              <span class="subtitle" style="font-size: 12px;">Cash</span>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Pay to the Order Of</ion-label>
              <ion-input type="text" [(ngModel)]="element.paymentInformationServices[0].payToOrderOf">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Comment</ion-label>
              <ion-input type="text" [(ngModel)]="element.paymentInformationServices[0].comment"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">General Comments</ion-label>
              <ion-input type="text" [(ngModel)]="element.paymentInformationServices[0].generalComment">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <br>

        <ion-row>
          <ion-col size="6">
            <p class="subtitle_general_black ancho"> Documents </p>
          </ion-col>
        </ion-row>

        <ion-card matRipple matRippleColor="rgba(158, 53, 149, 0.5)"
          *ngFor="let document of element.documentAreasCoverageServices; let a = index" style="margin: 0 0 10px 0"
          (click)="viewDoc(document.filePath)">
          <ion-row style="width: 100%;">
            <ion-col size="2">
              <img src="/assets/icon/document_2.svg" class="avatar">
            </ion-col>

            <ion-col size="10">
              <span class="h15 gray">Document Type <span
                  class="h12">{{nameDocument(document.documentType)}}</span><br></span>
              <span class="h15 gray">Uploaded Date <span
                  class="h12">{{document.createdDate | date:'dd MMM yyy'}}</span><br></span>
            </ion-col>
          </ion-row>
        </ion-card>


      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <br>

</ion-content>