<ion-header mode="ios">
  <div class="header" [ngClass]="{'pading_ios': service.padingios}">
    <ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Report of the Day</p>
    <img src="/assets/icon/rat.svg" style="width: 45px;" alt="">
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content>

  <div class="appointments">

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Work Order</ion-label>
          <ion-select [(ngModel)]="data.workOrder" (ngModelChange)="getServices()"
            [interfaceOptions]="customActionSheetOptions" interface="action-sheet" mode="ios" placeholder="Select One">
            <ion-select-option *ngFor="let item of caWo" [value]="item.id">{{item.numberWorkOrder}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-select [(ngModel)]="data.service" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
            mode="ios" placeholder="Service">
            <ion-select-option *ngFor="let item of caService" [value]="item.id">{{item.serviceNumber}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Requested Time (Hours)</ion-label>
          <ion-input type="tel" [(ngModel)]="data.requestTime"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-label style="color: gray;" class="h12" position="floating">Comment</ion-label>
        <ion-item class="ion-textarea">
          <ion-textarea rows="4" [(ngModel)]="data.comments"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button class="buttom buttom__btn_login" (click)="save()">Request</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>