$purple-light: #9D3292;

$purple-dark: #56004E;

$blue: #4435A6;

$black: rgba(0, 0, 0, 0.85);

$ligth: rgba(0, 0, 0, 0.10);

ion-content{
    --background: rgb(221, 221, 221);
}

.header {
    background-image: url("/assets/backgrounds/banner_morado.svg");
    background-position: top;
    background-size: cover;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-between;
    padding: 10%;

    ion-icon {
        font-size: 20px;
        font-weight: bold;
        margin-top: -15px;
    }
}

.headergray{
    width: 100%;
    padding: 15px 5% 10px 5%;
    background: rgb(221, 221, 221);
    border-radius: 25px 25px 0 0;
    margin-top: -24px;
    ::before{
        content: " ";
    }
}

.appointments {
    width: 100%;
    padding: 15px 5% 10px 5%;
    background: rgb(221, 221, 221);
    border-radius: 25px 25px 0 0;

    .title-edit{
        display: flex;
        justify-content: space-between;
    }

    .title {
        color: $blue;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    ion-card {
        border-radius: 15px;
        padding: 5px;
        margin: 0px;
        color: #000;
    }
}

.status{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span{
        color: gray;
    }

    .dot{
        height: 5px;
        width: 5px;
        border-radius: 100%;
        background: red;
    }

    .green{
        background: green !important;
    }
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
    img{
        width: 50px;
        height: 50px; 
        border-radius: 100%;
    }

    .options{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 90px;
        height: 100px;
         img{
            width: 30px;
        }
    }
}

.icon{
    .blue{
        color: $blue;
    }

    .purple{
        color: $purple-light;
    }

    .revers{
        transform: rotate(180deg);
    }
}

.buttom{
    text-transform: none;
    border-radius: 18px;
    width: 100%;
    &__btn_login{
        background: $purple-light;
        &:hover{
            background: $purple-dark;
        }
    }
}

.clock{
    margin: 35px -7px 0 0px;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #9D3292;
}