<ion-header mode="ios">
  <div class="header" [ngClass]="{'pading_ios': service.padingios}">
    <ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Compliance Policies</p>
    <img src="/assets/icon/bot_n_policies.svg" style="width: 45px;" alt="">
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content>

  <div class="appointments flex">
    <img src="assets/prueba.png" alt="" style="width: 70% !important;">
  </div>

  <div class="appointments">
    <ion-row>
      <ion-col size="12">
        <span class="title_general_black">Data Protection Policy</span>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">Data Protection Policy</span>
      </ion-col>
      <ion-col size="12">
        <p>
          As part of our responsibilities to be fully compliant with all rules and regulations where we operate and
          offer our services, Premier Destination Services Inc. or an affiliate of Premier Destination Services Inc.
          (together, “Premier” or “Premier Affiliates”), are committed to international compliance with data protection
          laws.
          Ensuring data protection is pivotal not only to our service offering and reputation, but most importantly for
          building and developing trustworthy partnerships with businesses and customers alike.Daniel Wing
          This policy (“Policy”) sets out our commitment to comply with all rules and regulations under all applicable
          data protection laws, including transparency. It provides the necessary framework conditions and ensures the
          proper level of data protection for cross-border data transmission among the Premier Affiliates (as defined
          below), staff, consultants and/or contractors.
          The Executive Committee and Compliance Committee (as defined below), responsible for ensuring that we comply
          with all legal obligations, have approved this policy. It sets out the rules and steps to take or actions to
          carry out whenever we obtain, store, use, delete and/or destroy Personal Data (as defined below).
        </p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">2. POLICY SCOPE & APPLICATION</span>
      </ion-col>
      <ion-col size="12">
        <p>
          We process Personal Data of Individuals (as defined below) such as staff, consultants and/or contractors, and
          customers only for specific purposes, including but not limited to pre-authorized services.

          This processing is regulated by data protection laws, rules and regulations where we operate and from May 2018
          the European Union’s General Data Protection Regulation (“GDPR”).

          Premier is not registered as a Data Controller/Processor with any regulatory body and/or authority; however,
          we take data privacy and protection obligations extremely seriously- including the different data managing
          roles we may play- and are fully committed to be compliant with GDPR and other legislation where we operate.

          This Policy applies to all our staff, consultants and/or contractors/agents, and other third parties
          authorized by us who use or process any Personal Data pertaining or related to us and/or our service offering.
          In countries where the data of legal entities is protected to the same extent as Personal Data, this Policy
          will equally apply.

          Premier Affiliates are not entitled to adopt regulations that deviate from this Policy. Additional data
          protection policies can be created in agreement with the Data Protection Officer (as defined below) and
          Compliance Committee only if required by applicable national laws.

          Overall, the reason for enforcing this Policy is to make sure that all Personal Data handled by us and/or oue
          staff, consultants and/or contractors, is:
        </p>
        <ul>
          <li>Handled and processed in a lawful, fair and transparent manner;</li>
          <li>Handled and processed specifically, explicitly, legitimately and most important –exclusively- for the
            purposes of our service offering;</li>
          <li>Handled and processed not in a manner that is incompatible with those purposes;</li>
          <li>Handled and processed with proper care – including appropriate safeguards set out by us- accurate, up to
            date and limited scope to what is required; and</li>
          <li>Avoid keeping it longer than necessary other than for the purposes for which it is being processed.</li>
        </ul>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">3. POLICY DEFINITIONS</span>
      </ion-col>
      <ion-col size="12">
        <p>Definition of the following terms used throughout this Policy include:</p>
        <ul>
          <li>Consent: means the Individual has been fully informed of the intended purpose of processing Personal Data,
            and agrees for Premier (including but not limited to Premier Network –as defined below-, staff, consultants
            and/or contractors) to do so without pressure being exerted upon them. There must be some active
            communication between the Premier, the Data Controller and/or the Individual such as consent is given as
            part of completion of an on-line form, physical signing a form or in email format and a record of the
            consent should be retained;</li>
          <li>Data Controller: includes any individual, business partner, government authority or other body who (or
            which) decides what Personal Data Premier will process and for what purpose, and the means and guidelines
            for its use. Premier’s Data Controller role is limited to the data which it processes directly – including
            staff, consultants and/or contractors personal information;</li>
          <li>Data Processor: means any individual, business partner, contractor or third party, which processes
            Personal Data on Premier’s behalf and/or on Premier’s instructions (i.e. those within Premier’s supply chain
            network that provide a specific service);</li>
          <li>Data Protection Officer (“DPO”): is the person accountable for ensuring that Premier follows this Policy
            and complies with all data protection laws, including GDPR;</li>
          <li>Individual: includes all data subjects who Premier holds or otherwise process Personal Data on behalf of.
            All Individuals have legal rights in relation to their Personal Data as prescribed by law and as described
            in this Policy;</li>
          <li>Personal Data: entails any personal information relating to a living individual who is either identified
            or identifiable. It must be an individual and cannot be a company or a public body. Legal representatives of
            companies or organizations would, however, be individuals;</li>
          <li>Premier Affiliates comprises a group of entities affiliated with or controlled by Premier for purposes of
            Premier’s service offering;</li>
          <li>Processing means any activity and/or operation carried out by a Data Processor that involves Personal
            Data; and</li>
          <li>Special Categories of Personal Data include information deemed sensible about an individual, such as
            racial or ethnic origin; political opinions; religious beliefs; disabilities; health and medical records;
            genetic and biometric data; criminal records and sexual orientation. Premier will process this Personal Data
            only if required by law and/or under strict conditions.</li>
        </ul>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">4. PREMIER ROLES & RESPONSIBILITIES
        </span>
      </ion-col>
      <ion-col size="12">
        <p>
          For a full list of members for each group, please contact the DPO.

          Premier Executive Committee

          The Executive Group is responsible for review and approval of this Policy.

          Premier Compliance Committee

          The Compliance Committee is responsible for approval and execution of this Policy. Compliance Committee
          Members are selected by Premier’s Executive Group.

          Premier Business Unit Managers

          Premier has appointed Business Unit Managers (“BUM”) with local responsibility for data protection compliance
          for Personal Data processed in their area and within their teams.

          Premier Data Protection Officer

          Premier’s Data Protection Officer (“DPO”) is primarily responsible for advising on and assessing Premier’s
          compliance with data protection laws and GDPR and making recommendations to improve practice in this area.
          Further, the DPO acts as Premier’s primary point of contact for all data protection matters, including GDPR.

          Premier Staff

          All staff, including permanent staff, fixed term contractors and temporary workers must comply with the rules
          and policies made by Premier including this Policy, and from May 2018 GDPR whenever collecting and processing
          Personal Data held, as part of their role or activities carried out by or on behalf of Premier

          Premier Consultants and Contractors

          Third parties such as consultants, contractors or agents, undertaking work on behalf of Premier involving
          Personal Data, must adhere to Premier’s Policy, comply with data protection laws and from May 2018, the GDPR.

          Provisions will be included in contracts with external providers to ensure compliance with this Policy, data
          protection laws and GDPR.

          Responsibilities include:
        </p>
        <ul>
          <li>Adding, amend and updating Personal Data – Premier Staff;</li>
          <li>Deleting Personal Data – IT Administrator as instructed by DPO;</li>
          <li>Responding to requests for rectification, erasure, restriction data portability, objection, automated
            decision making processes and profiling and withdrawal of consent – IT Administrator as instructed by DPO;
          </li>
          <li>Reporting Personal Data breaches and/or dealing with complaints – Premier Compliance Committee.</li>
        </ul>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">5. PERSONAL DATA – COMPLIANCE WITH DATA PROTECTION LAWS, INCLUDING GDPR
        </span>
      </ion-col>
      <ion-col size="12">
        <ul>
          <li>Premier will implement and monitor annual completion of, mandatory data protection reinforcement for all
            staff. The content of such reinforcement will be reviewed annually; however, it may also issue additional
            procedures, guidance or instructions from time to time.</li>
          <li>Premier reserves the right to correct any activities carried out by or on behalf of Premier that it deems
            not compliant with this Policy whenever necessary;</li>
          <li>Premier will protect the security of Personal Data by maintaining, and monitoring compliance with
            Premier’s Information Security Policy and Information Classification Scheme;</li>
          <li>Premier will maintain a Records Retention and Disposal Schedule setting the periods for which records
            containing Personal Data are to be retained;</li>
          <li>Premier will enter into legally binding agreements and/or addenda with external bodies where those bodies
            are engaged to process Personal Data on Premier’s behalf;</li>
          <li>Premier will implement adequacy arrangements where transferring any Personal Data coming from or going
            outside the European Union;</li>
          <li>Premier will only disclose Personal Data to third parties such as sub-sub processors and other bodies such
            as central governments, police and institutions where there is a lawful basis for doing so and appropriate
            arrangements are in place with those parties; and</li>
          <li>Premier will seek to ensure that Personal Data is shared across different Premier teams, business units
            and/or locations only if these have a legitimate business need for accessing that data.</li>
        </ul>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">6. PERSONAL DATA – COLLECTION, USAGE, TRANSFER & PROCESSING
        </span>
      </ion-col>
      <ion-col size="12">
        <p>
          In the course of Premier’s service offering, Personal Data from many different Individuals may be collected
          and processed for destination and immigration services purposes only. The legal bases we rely upon to offer
          these services to you are consent, legitimate interest, legal obligation, contractual obligation. Collection
          also includes Personal Data received straight from the Individual, a Data Controller, etc.

          Personal Data may include, but is not limited to, name, gender, date of birth, address, email address, phone
          number, citizenship, passport information, educational background, employment history, etc.

          We also receive Personal Data from third parties with whom we conduct business with, such as distributors, and
          other companies or organizations with whom we enter into agreements to support our business and operations.

          Premier’s usage and processing of Personal Data will always be lawful and in addition to other provisions
          under this Policy, within one of the following legal conditions:
        </p>
        <ul>
          <li>Required for an agreement, application, request for, with or on behalf of the Individual;</li>
          <li>Mandatory in order for Premier to comply with a legal obligation;</li>
          <li>Deemed as a vital interest (protecting someone’s life);</li>
          <li>Essential for Premier to perform a task in the public interest, and the task has a clear basis in law;
          </li>
          <li>Required for legitimate interests pursued by Premier, Premier’s staff, consultants and/or contractors,
            unless these are overridden by the interests, rights and freedoms of the Individual;</li>
          <li>If none of the conditions above applies, the usage and/or processing will only be lawful if the Individual
            has given Consent.</li>
        </ul>
        <p>Premier processes Personal Data for Premier’s services offering only, in both electronic and paper form.
          Personal Data can include – without limitation- information such as names, contact details, education or
          employment details.

          Further, Special Categories of Personal Data may be requested, however this will only be for specific purposes
          explained to the Individual.

          In the event Children’s Personal Data is required for Premier’s service offering, Premier will seek Consent
          and require this from the children’s parents or legal guardian.</p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">7. PERSONAL DATA – DISCLOSURE & CONSENT
        </span>
      </ion-col>
      <ion-col size="12">
        <p>Premier may share data with third parties only where it pertains Premier’s service offering related to a
          specific Individual and where it has a legal basis to do so.

          All Premier forms (whether electronic or paper-based) that gather Personal Data on an Individual contain a
          statement explaining the purpose of using and disclosing such Personal Data. This may require Consent from the
          Individual if there is not a lawful basis to share the data, however Premier will request such Consent at all
          times, including through application forms, notifications and other relevant means and documentation. Personal
          Data should not be obtained, held, used or disclosed unless the individual has given consent.

          Only authorized and properly instructed Premier team members are allowed to disclose Personal Data. Premier
          will always keep records of Personal Data shared with a third party, which will include recording any
          exemptions which have been applied, and why they have been applied.

          Consent can however, be withdrawn at any time and if withdrawn, the processing will stop. Individuals will be
          promptly informed of their right to withdraw Consent.</p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black"> 8. PERSONAL DATA – PROTECTION RIGHTS, INCLUDING RIGHT TO BE FORGOTTEN
        </span>
      </ion-col>
      <ion-col size="12">
        <p>Premier will comply with requests from an Individual to exercise their rights under data protection laws, and
          from 25 May 2018, GDPR. Individual’s rights in relation to their personal data include:</p>
        <ul>
          <li>The right to object to the processing of their Personal Data.</li>
          <li>The right to request that the processing of their Personal Data is restricted.</li>
          <li>The right to request their Personal Data is rectified if inaccurate.</li>
          <li>The right to request erasure of their Personal Data.</li>
          <li>The right of portability in relation to their Personal Data and</li>
          <li>The right to object to processing which involves automated decision making or profiling.</li>
        </ul>
        <p>

          All Individuals have the right to be informed what information Premier holds about them and to request copies
          of that information (also known as “Subject Access Request”). Any Individual wishing to submit a Subject
          Access Request should contact privacy@

          premierdestinationservices.com.

          Any Premier staff, consultant and/or contractor who receives a request from an Individual to exercise the
          above rights under data protection laws and GDPR must escalate such request to the DPO and Compliance
          Committee immediately via privacy@

          premierdestinationservices.com.

          Premier staff, consultants and/or contractors are responsible for cooperating with the DPO and the Compliance
          Committee to ensure that Premier can comply with an Individual’s request.

          Premier at all times will promptly inform the Data Processor who authorized Premier of such service (when
          applicable) about the Individual’s request and will be copied on all steps taken in order to comply with the
          Individual’s request.</p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">9. PERSONAL DATA – PREMIER & STAFF
        </span>
      </ion-col>
      <ion-col size="12">
        <p>All Premier staff, consultants and/or contractors are responsible for checking the information they provide
          to Premier in connection with or related to their employment, supplier’s role and/or agreement is accurate and
          up to date.

          Any changes to Personal Data provided (including, but not limited to change of address, etc.) must be promptly
          notified, in writing, to Premier via privacy@

          premierdestinationservices.com or the appropriate channel according to supply chain instructions. Premier will
          not be held responsible for errors unless staff, consultants and/or contractors have properly informed Premier
          about them.</p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">10. PERSONAL DATA – SECURITY & BREACHES
        </span>
      </ion-col>
      <ion-col size="12">
        <p>
          Premier will always use appropriate measures to keep Personal Data secure at all points of the processing.
          Keeping Personal Data secure includes protecting it from unauthorized or unlawful processing, or from
          accidental loss, destruction or damage.

          Premier has implemented security measures which provide a level of security which is appropriate to the risks
          involved in the processing. Measures include but are not limited to technical and organizational security
          procedures, encryption, cyber security and data minimization (i.e. not keeping Personal Data for longer than
          necessary).

          In assessing what measures are the most appropriate, Premier has taken into account the following:
        </p>
        <ul>
          <li>Security measures quality and effectiveness.</li>
          <li>Implementation Costs.</li>
          <li>Nature, scope, context and purpose of Personal Data Processing; and</li>
          <li>Risk assessment to the safeguards of Individuals’ Personal Data, including data breach.</li>
          <p>Premier’s security measures include, without limitation:</p>
          <li>Technical systems security features, including secure server and software programs, password protected
            files, encrypted information, double authentication, digital fingerprints, etc.</li>
          <li>Restrictions (both physically and digital) to minimize access to Personal Data.</li>
          <li>Restoration of systems and availability of Personal Data in the event of an incident and/or emergency.
          </li>
          <li>Physical security or information at Premier’s premises.</li>
          <li>
            Management and organizational guidelines, in the form of policies, procedures, training and/or audits.</li>
          <li>
            Continuous testing and evaluation of Premier’s security measures effectiveness.</li>
        </ul>
        <p>Personal Data breaches means a breach of security leading to the accidental or unlawful destruction, loss,
          alteration, unauthorized disclosure of, or access to, Personal Data transmitted, stored or otherwise
          processed.
          Premier will comply with requests from an Individual to exercise their rights under data protection laws, and
          from 25 May 2018, GDPR. Individual’s rights in relation to their personal data include:</p>
        <ul>
          <li>The right to object to the processing of their Personal Data.</li>
          <li>The right to request that the processing of their Personal Data is restricted.</li>
          <li>The right to request their Personal Data is rectified if inaccurate.</li>
          <li>The right to request erasure of their Personal Data.</li>
          <li>The right of portability in relation to their Personal Data; and</li>
          <li>The right to object to processing which involves automated decision making or profiling.</li>
        </ul>

        <p>
          All Individuals have the right to be informed what information Premier holds about them and to request copies
          of that information (also known as “Subject Access Request”). Any Individual wishing to submit a Subject
          Access Request should contact privacy@

          premierdestinationservices.com.

          Any Premier staff, consultant and/or contractor who receives a request from an Individual to exercise the
          above rights under data protection laws and GDPR must escalate such request to the DPO and Compliance
          Committee immediately via privacy@

          premierdestinationservices.com. Premier staff, consultants and/or contractors are responsible for cooperating
          with the DPO and the Compliance Committee to ensure that Premier can comply with an Individual’s request.

          Premier at all times will promptly inform the Data Processor who authorized Premier of such service (when
          applicable) about the Individual’s request and will be copied on all steps taken in order to comply with the
          Individual’s request.
        </p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">11. PERSONAL DATA – CONFIDENTIALITY</span>
      </ion-col>
      <ion-col size="12">
        <p>
          Premier’s use of Personal Data is subject to data secrecy. Premier treats this data as confidential on a
          personal level and secured with suitable organizational and technical measures to prevent unauthorized access,
          illegal processing or distribution, as well as accidental loss, modification or destruction.
        </p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">
          12. PERSONAL DATA – DELETION & DESTRUCTION</span>
      </ion-col>
      <ion-col size="12">
        <p>
          Personal Data that is no longer needed by Premier (including Premier staff, consultants and/or contractors)
          after the finalization of a service and/or expiration of legal or business process-related periods must be
          deleted and/or destroyed.

          From time to time, there will be instances in which such Personal Data is deemed significant for the
          continuance of Premier’s service offering pertaining certain Individuals. If so, such Personal Data must be
          kept on file until the interests that merit protection have been made clear, or Premier’s corporate archive
          has examined the Personal Data to determine whether it must be retained for historical purposes.
        </p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">
          13. PERSONAL DATA – DIRECT MARKETING</span>
      </ion-col>
      <ion-col size="12">
        <p>Premier will comply with the rules set out in data protection laws, including GDPR and other any laws, which
          may amend or replace the regulations around direct marketing. This includes, without limitation, when Premier
          makes contact with Individuals by post, email, text message, social media messaging, telephone (both live and
          recorded calls), fax, and any other means.

          Premier deems direct marketing as any kind of communication of any advertising or marketing material, which is
          directed or addressed to Individuals. This does not need to be for selling or advertising purposes. It
          includes contact made by organizations to individuals for the purposes of promoting the organization’s aims.

          Any direct marketing material that Premier sends will identify Premier as the sender and will describe how
          people can object to receiving similar communications in the future. If an Individual exercises their right to
          object to direct marketing Premier will immediately stop this.</p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">
          14. COMPLIANCE</span>
      </ion-col>
      <ion-col size="12">
        <p>
          Compliance with this Policy and any data protection laws –including from May 2018, GDPR- is responsibility of
          all Premier staff, consultants and/or contractors and all must comply with the rules and procedures set out in
          this Policy and any other set by Premier.

          It is a condition of being part of Premier staff, consultants and/or contractors that all Premier rules and
          regulations (including but not limited to, this Policy) are fully complied with.

          Any breach of this Policy by Premier’s staff, consultants and/or contractors may result in disciplinary
          action, including but not limited to, denied access to Premier’s system, immediate termination of their
          agreement with Premier and any other Premier deems necessary.

          Serious or deliberate breaches of data protection laws can result in a criminal prosecution. Any breach of
          GDPR by Premier (including Premier’s staff, consultants and/or contractors) may result in a substantial fine
          or actions imposed upon Premier by Data Processors.
        </p>
      </ion-col>
      <ion-col size="12">
        <span class="subtitle_general_black">
          15. OTHER</span>
      </ion-col>
      <ion-col size="12">
        <ul>
          <li>This Policy applies regardless of where Personal Data is held and or the equipment used if the Processing
            is for purposes of Premier services offering. Further, this Policy applies to all Personal Data, Special
            Category Data held in any form whether manual paper records or electronic records.</li>
          <li>Questions about the interpretation or operation of this Policy should be taken up with the DPO via privacy
            @premierdestinationservices.com.</li>
          <li>Any individual who considers that this Policy has not been followed in respect of Personal Data about
            themselves should also raise the matter with the DPO via privacy</li>
          <li>@premierdestinationservices.com.</li>
          <li>This Policy can be amended and/or update at any time by the DPO and Compliance Committee. Any changes will
            be posted online and, where appropriate, we will notify changes by email.</li>
          <li>From time to time, Premier may carry out risk assessments pertaining Personal Data Processing. This
            include situations when Premier process Personal Data relating to vulnerable, high profile or politically
            exposed people, using new technology, and/or transferring data from outside the EU. Any decision on
            conducting a risk assessment will be recorded by the DPO and the Compliance Committee.</li>
          <li>Further information, including guidance for Premier’s staff, consultants and/or contractors about data
            protection laws, including GDPR can be found on Premier’s website.</li>
        </ul>
      </ion-col>
    </ion-row>
  </div>

</ion-content>