<ion-header mode="ios">
  <div class="header" [ngClass]="{'pading_ios': _services.padingios}">
    <ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Office</p>
    <img src="/assets/icon/group_2.svg" style="width: 45px;" alt="">
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content>

  <div class="appointments">
    <ion-row>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Office</ion-label>
          <ion-select interface="action-sheet" mode="ios" placeholder="Office" [(ngModel)]="data_.office1">
            <ion-select-option *ngFor='let item of ca_office' [value]='item.id'>{{item.office}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row class="footer">
      <ion-col size="6" offset="3">
        <ion-button class="buttom buttom__btn_login" (click)="save();">Save</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>