<ion-header mode="ios">
  <div class="header" [ngClass]="{'pading_ios': _services.padingios}">
    <!--ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Transportation</p>
    <img src="/assets/icon/relocation_services.svg" style="width: 45px;" alt=""-->
    <ion-row class="ancho_full">
      <ion-col size="2" class="col_header" (click)="back()">
        <ion-back-button mode="ios" text=""></ion-back-button>
      </ion-col>
      <ion-col size="8" class="col_header">
        <p class="h5">Transportation</p>
      </ion-col>
      <ion-col size="2" class="col_header">
        <img src="/assets/icon/relocation_services.svg" style="width: 45px;" alt="">
      </ion-col>
    </ion-row>
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="Scroll($event)">

  <div class="appointments">

       <!--TARJETA DEL ASIGNADO-->
       <ion-card *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <ion-row>
          <ion-col size="2">
            <div class="avatares">
              <div class="content">
                <img class="img" src="{{_services.url_images}}{{data_dependent?.avatar}}" fallimg="avatar">
              </div>
            </div>
          </ion-col>
  
          <ion-col size="6">
            <span class="h15 gray">Delivered To</span>
            <br>
            <span class="h12" *ngIf="!show_name_assignee">{{data_dependent?.relationship}} / {{data_dependent?.name}}</span>
            <span class="h12" *ngIf="show_name_assignee">{{data_dependent?.relationship}} / {{(data_dependent?.name.length>10) ?  (data_dependent?.name | slice:0:10)+'..': data_dependent?.name}}</span>
          </ion-col>
  
          <ion-col size="2">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size"
                (click)="call(data_dependent.phone, data_dependent.name)">
                <ion-icon name="call" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
  
          <ion-col size="2">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size" (click)="sendMessage()">
                <ion-icon name="chatbox" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
  
        </ion-row>
      </ion-card>
      
    <div *ngxPermissionsOnly="['4']">
      <ion-card *ngFor="let item of coordinatos">
        <ion-row>
          <ion-col size="2">
            <div class="avatares">
              <div class="content">
                <img class="img" src="{{_services.url_images}}{{item.photo}}" fallimg="avatar">
              </div>
            </div>
          </ion-col>

          <ion-col size="6">
            <span class="h15 gray">Coordinator</span>
            <br>
            <span class="h12" *ngIf="!show_name_assignee">{{item.name}}</span>
            <span class="h12" *ngIf="show_name_assignee">{{(item.name.length>10) ?  (item.name | slice:0:10)+'..': item.name}}</span>
          </ion-col>

          <ion-col size="2" class="top-fab">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size" (click)="call(item.phone, item.name)">
                <ion-icon name="call" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="2" class="top-fab">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size" (click)="sendMessage()">
                <ion-icon name="chatbox" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card *ngFor="let item of consultant">
        <ion-row>
          <ion-col size="2">
            <div class="avatares">
              <div class="content">
                <img class="img" src="{{_services.url_images}}{{item.photo}}" fallimg="avatar">
              </div>
            </div>
          </ion-col>

          <ion-col size="6">
            <span class="h15 gray">Consultant</span>
            <br>
            <span class="h12" *ngIf="!show_name_assignee">{{item.name}}</span>
            <span class="h12" *ngIf="show_name_assignee">{{(item.name.length>10) ?  (item.name | slice:0:10)+'..': item.name}}</span>
          </ion-col>

          <ion-col size="2" class="top-fab">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size" (click)="call(item.phone, item.name)">
                <ion-icon name="call" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="2" class="top-fab">
            <ion-fab>
              <ion-fab-button size="small" class="btn_fab_size"  (click)="sendMessage()">
                <ion-icon name="chatbox" class="btn_fab_size__icon"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <ion-row>

      <ion-col size="6" *ngxPermissionsOnly="['4']" style="margin: auto">
        <span class="h9 gray">Delivered To</span>
        <br>
        <span class="h8" *ngIf="!show_name_assignee">{{data_dependent?.name}}</span>
        <span class="h8" *ngIf="show_name_assignee">{{(data_dependent?.name.length>10) ?  (data_dependent?.name | slice:0:10)+'..': data_dependent?.name}}</span>
      </ion-col>

      <ion-col size="12" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <span class="h9 gray">Work Order</span><br>
        <span class="h8">WO-{{data.workOrderId}}</span>
      </ion-col>

      <ion-col size="6" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <span class="h9 gray">Deliver To</span><br>
        <span class="h8">{{transportation.relationship}}</span>
      </ion-col>

      <ion-col size="6" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <span class="h9 gray">Name</span><br>
        <span class="h8">{{transportation.name}}</span>
      </ion-col>

      <ion-col size="6" *ngxPermissionsOnly="['4']"></ion-col>

      <ion-col size="6">
        <span class="h9 gray">Country</span><br>
        <span class="h8">{{transportation.country}}</span>
      </ion-col>

      <ion-col size="6">
        <span class="h9 gray">City</span><br>
        <span class="h8">{{transportation.city}}</span>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Budget</ion-label>
          <ion-input placeholder="Budget" type="number" [disabled]="disabled"
            [(ngModel)]="transportation.transportService[0].budget">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <ion-item>
          <ion-label position="floating">Time Allotted</ion-label>
          <ion-select interface="action-sheet" mode="ios" [disabled]="disabled" placeholder="Time Allotted"
            [(ngModel)]="transportation.transportService[0].totalTimeAllowed">
            <ion-select-option *ngFor="let item of Numbers" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6" *ngxPermissionsOnly="['4']">
        <ion-item>
          <ion-label position="floating">Time Allotted</ion-label>
          <ion-select interface="action-sheet" mode="ios" [disabled]="disabled" placeholder=" Time Allotted"
            [(ngModel)]="transportation.transportService[0].totalTimeAllowed">
            <ion-select-option *ngFor="let item of Numbers" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="3" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
        <ion-item>
          <ion-label position="floating">&nbsp;</ion-label>
          <ion-select interface="action-sheet" mode="ios" [disabled]="disabled"
            [(ngModel)]="transportation.transportService[0].totalTimeAllowedId">
            <ion-select-option *ngFor="let item of ca_duracion" [value]="item.id">{{item.duration}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <br><br>
    
    <ion-row style="margin-top:20px;" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
      <ion-col size="7">
        <span class="title_general_black">Extensions</span>
      </ion-col>
    </ion-row>

    
    <div *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
      <ion-card *ngFor="let item of transportation.extensionTransportations">
        <ion-row class="width items">
          <ion-col size="2">
            <img src="/assets/icon/extensions.svg" class="avatar">
          </ion-col>
          <ion-col size="10">
            <span class="h15 gray">
              Autho <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
              <span class="h12"> {{item.authoDate | date: 'dd MMM yyyy'}} </span>
            </span><br>
            <span class="h15 gray">
              Time&nbsp;&nbsp;&nbsp;<span class="h12"> {{item.time}}</span>
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

  </div>

  <mat-accordion multi *ngFor="let service of transportation.transportService">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="user">
            <span class="title_general_black">Transport Service</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Status</ion-label>
              <ion-select interface="action-sheet" mode="ios" [disabled]="disabled"
                placeholder="{{getStatusName(service.statusId)}}" [(ngModel)]="service.statusId">
                <ion-select-option *ngFor="let item of ca_estatus" [value]="item.id">{{item.status}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <span class="h9 gray">Completion Date</span><br>
            <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
            <span class="h8">{{service.serviceCompletionDate | date: 'dd MMM yyyy'}}</span>
          </ion-col>

          <ion-col size="6">
            <span class="h9 gray">Autho Date</span><br>
            <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
            <span class="h8">{{service.authoDate | date: 'dd MMM yyyy'}}</span>
          </ion-col>

          <ion-col size="6">
            <span class="h9 gray">Autho Acceptance Date</span><br>
            <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
            <span class="h8">{{service.authoAcceptanceDate | date: 'dd MMM yyyy'}}</span>
          </ion-col>

          <ion-col size="6">
            <span class="h9 gray">Service ID</span><br>
            <span class="h8">{{transportation.serviceNumber}}</span>
          </ion-col>

          <ion-col size="6">
            <div *ngIf="service.coordination">
              <span class="h9 gray">Coordination</span><br>
              <ion-checkbox [(ngModel)]="service.coordination" [disabled]="disabled" class="size"></ion-checkbox>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Transport Type</ion-label>
              <ion-select interface="action-sheet" mode="ios" placeholder="Transport Type"
                [(ngModel)]="service.transportType" [disabled]="disabled">
                <ion-select-option *ngFor="let data of ca_transportType" [value]="data.id">{{data.transportType}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Service Date</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" [disabled]="disabled" [(ngModel)]="service.serviceDate"
                mode="ios">
              </ion-datetime>
              <ion-icon slot="end" name="calendar-clear-outline" class="blue icon-calendar"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col size="3">
            <ion-item>
              <ion-label position="floating">Time of Service</ion-label>
              <ion-select interface="action-sheet" mode="ios" placeholder="Time of Service"
                [(ngModel)]="service.timeServicesHour" [disabled]="disabled">
                <ion-select-option *ngFor="let item of caNumbers" [value]="item">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="3">
            <ion-item>
              <ion-label position="floating">&nbsp;</ion-label>
              <ion-select interface="action-sheet" mode="ios" [disabled]="disabled"
                [(ngModel)]="service.timeServicesMinute">
                <ion-select-option *ngFor="let item of caNumbersMin" [value]="item">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Projected Fee</ion-label>
              <ion-input placeholder="Projected Fee" [disabled]="disabled" [(ngModel)]="service.projectFee"
                type="number">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Pick Up Location</ion-label>
              <ion-input placeholder="Pick Up Location" [disabled]="disabled" [(ngModel)]="service.pickUpLocation">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Drop Off Location</ion-label>
              <ion-input placeholder="Drop Off Location" [disabled]="disabled" [(ngModel)]="service.dropOffLocation">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label stacked>Family Members</ion-label>
              <ion-select multiple="true" [(ngModel)]="service.family" [disabled]="disabled">
                <ion-select-option *ngFor="let item of family" [value]="item.id">{{item.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <span class="h9 gray">Pets Traveling</span><br>
            <ion-checkbox [(ngModel)]="service.pet" [disabled]="disabled" class="size"></ion-checkbox>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Supplier Partner</ion-label>
              <ion-select interface="action-sheet" mode="ios" placeholder="Supplier Partner"
                [(ngModel)]="service.supplierPartner" [disabled]="disabled" (ngModelChange)='getInfo();'>
                <ion-select-option *ngFor="let item of supplier_get" [value]="item.id">{{item.legalName}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Driver</ion-label>
              <ion-input placeholder="Driver" [(ngModel)]="service.driverName" [disabled]="disabled">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Driver Contact</ion-label>
              <ion-input placeholder="Driver Contact" [disabled]="disabled" [(ngModel)]="service.driverContact">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Vehicle Make / Model</ion-label>
              <ion-input placeholder="Vehicle Make / Model" [disabled]="disabled" [(ngModel)]="service.vehicle">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Plate Number</ion-label>
              <ion-input placeholder="Plate Number" [disabled]="disabled" [(ngModel)]="service.plateNumber">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Vehicle Color</ion-label>
              <ion-input placeholder="Vehicle Color" [disabled]="disabled" [(ngModel)]="service.vehicleColor">
              </ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <br>

  <div class="appointments">
    <!------------------------------------------------------------------------------------------->
    <!--SECCION PARA SERVICES DOCUMENT-->
    <ion-row>
      <ion-col size="7">
        <span class="title_general_black">Service Documents<b class="purple">
            {{transportation.documentTransportations.length + temporalDocument.length}}</b></span>
      </ion-col>
      <ion-col size="3" class="flexdosts"></ion-col>
      <ion-col size="2"  class="align__end">
        <img src="/assets/icon/icon_add.svg" *ngIf="userData.role.id != 3" style="height: 100%;"
          (click)="addDocument();" class="btn_size" >
      </ion-col>
    </ion-row>

    <div class="activitie" *ngFor="let item of transportation.documentTransportations; let i = index" (click)="viewDoc(item.fileRequest)">
      <ion-list lines="none">
        <ion-item-sliding>
          <ion-item>
            <ion-row class="width">
              <ion-col size="2">
                <img src="/assets/icon/document_2.svg" class="avatar">
              </ion-col>
              <ion-col size="10">
                <span class="h9">Document Type</span><br>
                <span class="h15 gray">
                  <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Uploaded
                  <span class="h12"> {{item.createdDate | date: 'dd MMM yyyy'}}</span>
                </span><br>
                <span class="h15 gray">
                  <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Expiration
                  <span class="h12"> {{item.expirationDate | date: 'dd MMM yyyy'}}</span>
                </span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options >
            <ion-item-option color="danger" (click)="deleteDocument(item.id, i)" *ngxPermissionsOnly="['1', '2', '11', '13','19']">
              <ion-icon slot="bottom" name="trash" class="iconslot"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div class="activitie" *ngFor="let item of temporalDocument; let i = index">
      <ion-list lines="none">
        <ion-item-sliding>
          <ion-item>
            <ion-row class="width">
              <ion-col size="2">
                <img src="/assets/icon/document_2.svg" class="avatar">
              </ion-col>
              <ion-col size="10">
                <span class="h9">Document Type</span><br>
                <span class="h15 gray">
                  <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Uploaded
                  <span class="h12"> {{item.createdDate | date: 'dd MMM yyyy'}}</span>
                </span><br>
                <span class="h15 gray">
                  <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Expiration
                  <span class="h12"> {{item.expirationDate | date: 'dd MMM yyyy'}}</span>
                </span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteDocument(item.id, i)" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
              <ion-icon slot="bottom" name="trash" class="iconslot"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <br>
    <br>
    <!------------------------------------------------------------------------------------------->
    <!--SECCION PARA REQUEST PAYMENT-->
    <div *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']">
      <ion-row>
        <ion-col size="7">
          <span class="title_general_black">Request Payment <b class="purple"> {{payment.length}}</b></span>
        </ion-col>
        <ion-col size="3" class="flexdosts">
          <div>
            <span class="h12 flexdosts">
              <div class="dot late"></div>&nbsp;Urgent
            </span>
          </div>
        </ion-col>
        <ion-col size="2"  class="align__end">
          <img *ngIf="userData.role.id != 3" src="/assets/icon/icon_add.svg" style="height: 100%;" class="btn_size">
        </ion-col>
      </ion-row>

      <div class="activitie" *ngFor="let item of payment; let i = index">
        <ion-list lines="none">
          <ion-item-sliding [ngClass]="{'urgent': item.urgent}">
            <ion-item>
              <ion-row class="width">
                <ion-col size="2">
                  <img src="/assets/icon/payment.svg" class="avatar">
                </ion-col>
                <ion-col size="10">
                  <span class="h5 gray">
                    Payment
                    <span class="h12"> {{item.desciption}}</span>
                  </span><br>
                  <span class="h15 gray">
                    Amount
                    <span class="h12"> {{item.ammount}}</span>
                  </span><br>
                  <span class="h15 gray">Status
                    <span class="h12"> </span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon slot="bottom" name="trash" class="iconslot"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <!------------------------------------------------------------------------------------------->
      <!--SECCION PARA COMENTARIOS-->
      <br>
      <br>
      <ion-row>
        <ion-col size="7">
          <span class="title_general_black">Comments <b class="purple"> {{transportation.commentTransportations.length}}</b></span>
        </ion-col>
        <ion-col size="3" class="flexdosts"></ion-col>
        <ion-col size="2"  class="align__end">
          <img src="/assets/icon/icon_add.svg" *ngIf="!addComment_ && userData.role.id != 3" (click)="addComment_ = !addComment_"
            style="height: 100%;"  class="btn_size" >
          <img src="/assets/icon/icon_cancel.svg" *ngIf="addComment_" (click)="addComment_ = !addComment_"
            style="height: 100%; transform: rotate(45deg);" class="btn_size">
        </ion-col>
      </ion-row>

      <div class="editable" *ngIf="addComment_">
        <ion-row>
          <ion-col size="12">
            <ion-label style="color: gray;" class="h12" position="floating">Comment</ion-label>
            <ion-item class="ion-textarea">
              <ion-textarea rows="4" [(ngModel)]="comment_data.comments" maxlength="300"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="6" offset="3">
            <ion-button class="buttom_ buttom__btn_login" [disabled]="comment_data.comments == null"
              (click)="addComment()">Add Comment</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="documents" *ngIf="transportation.commentTransportations.length > 0">
        <ion-card>
          <ion-slides class="coments" [options]="slideOptsOne" pager="true">
            <ion-slide class="card-comments" *ngFor="let item of transportation.commentTransportations; let i = index">
              <ion-row style="text-align:initial;">
                <ion-col size="2">
                  <div class="avatares">
                    <div class="content">
                      <img src="{{_services.url_images}}{{item.user.avatar}}" class="img" fallimg="avatar">
                    </div>
                  </div>
                </ion-col>

                <ion-col size="5">
                  <span class="h15 gray">{{item.user.role.role}}</span><br>
                  <span class="h12" *ngIf="!show_name_assignee">{{item.user.name}} {{item.user.lastName}} {{item.user.motherLastName}}</span>
                  <span class="h12" *ngIf="show_name_assignee">{{(item.user.name.length>10) ?  (item.user.name | slice:0:10)+'..': item.user.name}}</span>
                </ion-col>

                <ion-col size="5">
                  <span class="h15 gray">
                    Date &nbsp;<br>
                    <div class="comment-flex">
                    <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
                    <span class="h12"> {{item.createdDate | date: 'dd MMM yyyy'}}</span>
                    </div>
                  </span><br>
                </ion-col>

                <ion-col size="12">
                  <ion-label *ngIf="i == 0" style="color: gray;" class="h12" position="floating">Comment</ion-label>
                  <ion-label *ngIf="i != 0" style="color: gray;" class="h12" position="floating">Reply</ion-label>
                  <ion-item class="ion-textarea">
                    <ion-textarea rows="4" [(ngModel)]="item.reply" disabled maxlength="300"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </ion-card>
      </div>
      <!------------------------------------------------------------------------------------------->
      <!--SECCION PARA REMINDER-->
      <br>
      <br>
      <ion-row>
        <ion-col size="7">
          <span class="title_general_black">Reminders<b class="purple">
              {{transportation.reminderTransportations.length}}</b></span>
        </ion-col>
        <ion-col size="3" class="flexdosts"></ion-col>
        <ion-col size="2"  class="align__end">
          <img src="/assets/icon/icon_add.svg" *ngIf="!addReminder_ && userData.role.id != 3" (click)="addReminder_ = !addReminder_"
            style="height: 100%;" class="btn_size">
          <img src="/assets/icon/icon_cancel.svg" *ngIf="addReminder_" (click)="addReminder_ = !addReminder_"
            style="height: 100%; transform: rotate(45deg);" class="btn_size">
        </ion-col>
      </ion-row>

      <div class="editable" *ngIf="addReminder_">
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label style="color: gray;" class="h7" position="floating">Reminder Date</ion-label><br>
              <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="reminder_data.reminderDate" mode="ios">
              </ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-label style="color: gray;" class="h12" position="floating">Reminder comment</ion-label>
            <ion-item class="ion-textarea">
              <ion-textarea rows="4" [(ngModel)]="reminder_data.reminderComments" maxlength="300"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="6" offset="3">
            <ion-button class="buttom_ buttom__btn_login"
              [disabled]="reminder_data.reminderDate == null || reminder_data.reminderComments == undefined"
              (click)="addReminder()">Add
              Reminder</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="activitie" *ngFor="let item of transportation.reminderTransportations; let i = index">
        <ion-list>
          <ion-item-sliding>
            <ion-item lines="none">
              <ion-row style="width: 100%;">
                <ion-col size="2">
                  <img src="/assets/icon/reminder.svg" class="avatar">
                </ion-col>
                <ion-col size="10">
                  <span class="h15 gray">
                    Date&nbsp;
                    <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>
                    <span class="h12"> {{item.reminderDate | date: 'dd MMM yyyy'}}</span>
                  </span><br>
                  <span class="h15 gray">
                    Comment <span class="h12">{{item.reminderComments}}</span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options (click)="deleteReminder(item.id, i)" *ngxPermissionsOnly="['1','2','11','13','19']">
              <ion-item-option color="danger">
                <ion-icon slot="bottom" name="trash" class="iconslot"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <br>
      <br>
    </div>

    <div *ngxPermissionsOnly="['1', '2', '3', '11', '13', '19']">
      <!--SCOPE DOCUMENTS-->
      <ion-row>
        <ion-col size="12">
          <span class="title_general_black">Service Client Documents<b class="purple">
              {{serviceScope.documentcountries.length}}</b></span>
        </ion-col>
      </ion-row>

      <div class="activitie" *ngFor="let item of serviceScope.documentcountries; let i = index" (click)="viewDoc(item.fileRequest)">
        <ion-list lines="none">
          <ion-item-sliding>
            <ion-item>
              <ion-row class="width">
                <ion-col size="2">
                  <img src="/assets/icon/document_2.svg" class="avatar">
                </ion-col>
                <ion-col size="10">
                  <span class="h9">Document Type &nbsp; {{item.documentType}}</span> <br>
                  <span class="h15 gray">
                    <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Status
                    <span class="h12"> {{item.status}} </span>
                  </span><br>
                  <span class="h15 gray">
                    <ion-icon name="calendar-clear-outline" class="blue"></ion-icon>Privacy
                    <span class="h12"> {{item.privacy}} </span>
                  </span><br>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </div>
      <br>
      <br>
    </div>

    

    <div>
      <ion-row>
        <ion-col size="12">
          <span class="title_general_black">Scope Client Service</span>
        </ion-col>
      </ion-row>

      <br>

      <ion-row>
        <ion-col size="12">
          <div class="textarea">
            <p [innerHTML]="serviceScope?.scopeDescription"></p>
          </div>
        </ion-col>
      </ion-row>

    </div>

    <!--TERMMINA SECCION REMIDERS-->
    <!------------------------------------------------------------------------------------------->
    <ion-row class="bottom_padding">
      <ion-col size="6" offset="3">
        <ion-button class="buttom_ buttom__btn_login" *ngxPermissionsOnly="['1', '2', '3', '11', '13','19']"
          (click)="save()">Save</ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>