<ion-header mode="ios">
  <div class="header" [ngClass]="{'pading_ios': service.padingios}">
    <!--ion-back-button mode="ios" text="" (click)="back()"></ion-back-button>
    <p class="h5">Pets</p>
    <img src="/assets/icon/group_2.svg" style="width: 45px;" alt=""-->
    <ion-row class="ancho_full">
      <ion-col size="2" class="col_header" (click)="back()">
        <ion-back-button mode="ios" text=""></ion-back-button>
      </ion-col>
      <ion-col size="8" class="col_header">
        <p class="h5">Pets</p>
      </ion-col>
      <ion-col size="2" class="col_header">
        <img src="/assets/icon/group_2.svg" style="width: 45px;" alt="">
      </ion-col>
    </ion-row>
  </div>
  <div class="headergray"></div>
</ion-header>

<ion-content>

  <mat-accordion class="documentos">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Pet Name</ion-label>
                <ion-input [(ngModel)]="data_.name"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6" style="display: flex; justify-content: center; align-items: center;" (click)="photo()">
              <div class='box'>
                <div class="content">
                  <img src="/assets/icon/icon_edit.svg" class="icon">
                  <img  id="imagen"
                    class="img">
                </div>
              </div>
            </ion-col>
          </ion-row>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="appointments">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Pet</ion-label>
              <ion-select interface="action-sheet" mode="ios" [(ngModel)]="data_.petTypeId" (ngModelChange)="GetBreed()"
                placeholder="Pet">
                <ion-select-option *ngFor="let item of pettype_catalogue;" [value]="item.id">
                  {{ item.petType }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Breed</ion-label>
              <ion-select interface="action-sheet" mode="ios" [(ngModel)]="data_.breedId" placeholder="Breed">
                <ion-select-option *ngFor="let item of CaBreed" [value]="item.id">
                  {{ item.breed }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Date of Birth</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" mode="ios" [(ngModel)]="data_.birthDate" (ionChange)="calculateHowOld()"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Age</ion-label>
              <ion-input [(ngModel)]="data_.age" type="number"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Size</ion-label>
              <ion-select mode="ios" placeholder="Size" interface="action-sheet" cancelText="Cancel" okText="Accept"
                [(ngModel)]="data_.sizeId">
                <ion-select-option *ngFor="let item of petsize_catalogue" [value]="item.id">
                  {{ item.size }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>


          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Weight</ion-label>
              <ion-input [(ngModel)]="data_.weight" type="number"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Weight Measure</ion-label>
              <ion-select mode="ios" placeholder="Weight Measure" interface="action-sheet" cancelText="Cancel"
                okText="Accept" [(ngModel)]="data_.weightMeasuresId">
                <ion-select-option *ngFor="let item of weightmeasure_catalogue;" [value]="item.id">
                  {{ item.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" offset="3">
            <ion-button class="buttom buttom__btn_login" (click)="save()">Save</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!--div class="appointments">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Pet</ion-label>
          <ion-select interface="action-sheet" mode="ios" [(ngModel)]="data_.petTypeId" (ngModelChange)="GetBreed()"
            placeholder="Pet">
            <ion-select-option *ngFor="let item of pettype_catalogue;" [value]="item.id">
              {{ item.petType }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Pet Name</ion-label>
          <ion-input [(ngModel)]="data_.name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Breed</ion-label>
          <ion-select interface="action-sheet" mode="ios" [(ngModel)]="data_.breedId" placeholder="Breed">
            <ion-select-option *ngFor="let item of CaBreed" [value]="item.id">
              {{ item.breed }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" mode="ios" [(ngModel)]="data_.birthDate"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input [(ngModel)]="data_.age" type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Size</ion-label>
          <ion-select mode="ios" placeholder="Size" interface="action-sheet" cancelText="Cancel" okText="Accept"
            [(ngModel)]="data_.sizeId">
            <ion-select-option *ngFor="let item of petsize_catalogue" [value]="item.id">
              {{ item.size }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>


      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Weight</ion-label>
          <ion-input [(ngModel)]="data_.weight" type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Weight Measure</ion-label>
          <ion-select mode="ios" placeholder="Weight Measure" interface="action-sheet" cancelText="Cancel"
            okText="Accept" [(ngModel)]="data_.weightMeasuresId">
            <ion-select-option *ngFor="let item of weightmeasure_catalogue;" [value]="item.id">
              {{ item.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button class="buttom buttom__btn_login" (click)="save()">Save</ion-button>
      </ion-col>
    </ion-row>

  </div-->
</ion-content>