$purple-light: #9D3292;

$purple-light: #9D3292;

$purple-dark: #56004E;

$blue: #4435A6;

$black: rgba(0, 0, 0, 0.85);

$ligth: rgba(0, 0, 0, 0.10);

ion-content{
    --background: rgb(221, 221, 221);
}
.gray {
	color: gray;
}
.span-detail{
    color: $purple-dark;
}

.ancho_full{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col_header{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.header {
    background-image: url("/assets/backgrounds/fondo_1.png");
    background-position: top;
    background-size: cover;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-between;
    padding: 5%;

    ion-icon {
        font-size: 20px;
        font-weight: bold;
        margin-top: -15px;
    }
}

.headergray{
    width: 100%;
    padding: 15px 5% 10px 5%;
    background: rgb(221, 221, 221);
    border-radius: 25px 25px 0 0;
    margin-top: -24px;
    ::before{
        content: " ";
    }
}
