$purple-light: #9D3292;
$purple-dark: #56004E;
$blue: #4435A6; 
$black: rgba(0,0,0,0.85);
$ligth: #f2f2f2;

ion-content{
    --background: #ffffff;
}

.content{
    padding: 15px !important;
}

.close{
    width: 100%;
    color: $purple-light;
    text-align: end;
}

.ligth{
    color: rgb(160, 160, 160);
}

.blue{
    color: $blue;
}

p{
    margin: 0 0 25px;
}

mat-icon{
    color: $purple-light;
}

mat-form-field{
    margin: 10px;
    width: 95%;
}